body{
	background-color: black;
	color: white
}

#sets {
	padding-right: 0;
}

#sets a, li{
	color: white;
	background: url("../img/Gray_Patterned.jpg");
}

#sets a:hover, .active_set {
	color: black;
	background: white;
	cursor: pointer;
}

#sets ul {
	position: relative;
	top: 100px;
}

#card-data {
	position: relative;
	top: 100px;
}

#cards {
	background: url("../img/Gray_Patterned.jpg");
}

#block {
	text-align: right;
}

.header {
	top: -5px;
	z-index: 10;
	position: fixed;
	background-color: black;
	padding-bottom: 10px;
	margin-left: 15px;
}

#roll-result {
	color: white;
	padding-top: 10%;
}