<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MTG Vital Deck Tool</title>

    <!-- 3rd party stylesheets -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <!--END 3rd party stylesheets-->

    <!--link stylesheet-->
    <link rel="stylesheet" href="../css/main.css">
    <!--END stylesheet-->

    <!--Firebase-->
    <script src="https://www.gstatic.com/firebasejs/3.2.0/firebase.js"></script>
    <script>
      var config = {
        apiKey: "AIzaSyAW7jO4F_3_Qv1-xjwcNG3O0QLvm7p13vY",
        authDomain: "mtg-users.firebaseapp.com",
        databaseURL: "https://mtg-users.firebaseio.com",
        storageBucket: "mtg-users.appspot.com",
        messagingSenderId: "622318232962"
      };
      //firebase.initializeApp(config);
    </script>
    <!--End Firebase-->

    <!-- load libraries-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0/handlebars.min.js"></script>
    <!--END load libraries-->

    <!--load js -->
    <script src="../js/cards.js"></script>
    <!--END load js -->
  </head>

  <body>

    <div class="row">
      <div id="sets" class="col-md-offset-3 col-md-6">
        <div class="row">
          <div class="header col-md-6 col-xs-12">
            <h2 class="text-center">Sets
              <button class="btn btn-sm btn-default pull-right scroll-bottom">Bottom</button>
              <button class="btn btn-sm btn-default pull-left scroll-top">Top</button>
            </h2>
            <div class="row">
              <strong class="col-md-4 text-center col-xs-4">Name</strong>
              <strong class="col-md-2 col-xs-4">Symbol</strong>
              <strong class="col-md-3 col-xs-4">Release</strong>
              <strong class="col-md-3 text-center hidden-sm hidden-xs">Block</strong>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div id="cards" class="col-md-offset-3 col-md-6">
        <div class="row">
            <div class="header col-md-6 col-xs-12">
              <h2 class="text-center">Cards</h2>
              <div class="row text-center">
                <button class="col-xs-offset-1 col-xs-2 btn btn-sm btn-default scroll-top">Top</button>
                <button class="col-xs-offset-2 col-xs-3 btn btn-sm btn-default" onclick="showSets()">Back to Sets</button>
                <button class="col-xs-offset-1 col-xs-2 btn btn-sm btn-default scroll-bottom">Bottom</button>
              </div>
            </div>
        </div>
      </div>
    </div>

    <!--Hanldebars Helpers-->
    <script>
      Handlebars.registerHelper('breaklines', function(text) {
        text = Handlebars.Utils.escapeExpression(text);
        text = text.replace(/(\r\n|\n|\r)/gm, '<br>');
        return new Handlebars.SafeString(text);
      });
      Handlebars.registerHelper('reverse', function (arr) {
        arr.reverse();
      });
    </script>
    <!--END Handlbars Helpers-->

  </body>
</html>

<div class="modal fade" id="loading-modal" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="ajax_loader_message"></div>
        <center>
          <img src="../img/hex-loader2.gif" />
        </center>
      </div>
    </div>
  </div>
</div>

<script id="mtg-sets-template" type="text/x-handlebars-template">
  <ul class="list-group">
      {{reverse set}}
      {{#each set}}
      <a class="list-group-item" onClick="getCardsFromSet('{{code}}')" ontouchstart="this.className+=' active_set'" ontouchend="this.className='list-group-item'">
        <div class="row" id="{{code}}">
          <div class="col-md-4 col-xs-4">{{name}}</div>
          <div class="col-md-2 col-xs-4 symbol"></div>
          <div class="col-md-3 col-xs-4">{{releaseDate}}</div>
          {{#if block}}
          <div id="block" class="col-md-3 hidden-sm hidden-xs">
            <span class="badge">{{block}}</span>
          </div>
          {{/if}}
        </div>
      </a>
      {{/each}}
  </ul>
</script>

<script id="mtg-card-template" type="text/x-handlebars-template">
  <div id="card-data">
    {{#each cards}}
    <div class="row">
      <div class="col-md-3 col-md-offset-0 col-xs-offset-3 col-xs-6">
        <img src="{{imageUrl}}" class="img-thumbnail" alt="{{name}}" width="223" height="311">
      </div>
      <div class="col-md-9 col-xs-12">
        <div class="row">
          <br>
          <strong class="col-md-6 col-md-offset-0 col-xs-offset-1 col-xs-10">{{name}}</strong>
          <div class="col-md-6 col-md-offset-0 col-xs-offset-1 col-xs-10">{{manaCost}}</div>
        </div>
        <div class="row">
          <div class="col-md-12 col-md-offset-0 col-xs-offset-1 col-xs-10">{{originalType}}</div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-12 col-md-offset-0 col-xs-offset-1 col-xs-10">{{breaklines originalText}}</div>
        </div>
      </div>
    </div>
    <br/>
    <hr/>
    {{/each}}
  </div>
</script>